dd {
  margin-bottom: 1em;
}

dl {
  margin-left: 3em;
}

dt {
  font-style: italic;
  font-weight: bold;
}

h1 {
  border-bottom: #ccc dotted 1px;
  margin-top: 2em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 20px;
  margin-top: 2em;
}

ol, ul, menu, dir {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

.catalog summary:hover {
  cursor: pointer;
}

.catalog details {
  margin-bottom: 1em;
}

.catalog li,
.on-this-page li {
  list-style-type: none;
}

.on-this-page {
  background-color: #eee;
  border: #000 solid 0.5px;
  margin-bottom: 2em;
  padding: 1em 1em 0 1em;
  width: 300px;
}
