ul, menu, dir {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  list-style-type: disc;
}

.catalog summary:hover {
  cursor: pointer;
}

.catalog details {
  margin-bottom: 1em;
}

.catalog li {
  list-style-type: none;
}

.catalog dl {
  margin-left: 3em;
}

.catalog dt {
  font-style: italic;
  font-weight: bold;
}

.catalog dd {
  margin-bottom: 1em;
}
