.shaded-box {
  font-style: italic;
  padding: 5px;
}

.new-requirement {
  background-color: #ffc107;
}

h4 {
  margin: 10px 0;
}

.required-controls .control {
  font-size: 1rem;
}

.required-controls .enhancement {
  font-size: 0.9rem;
  padding-left: 20px;
}

.required-controls .control-title {
  text-decoration: none;
}

.required-controls .required-date,
.required-controls .implementation-level {
  text-align: center;
}